*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  overflow: hidden;
  background-color: antiquewhite;
  font-family: "VT323";
}

.app__container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

@font-face {
  font-family: "Monofett";
  src: url(./fonts/Monofett-Regular.ttf);
}

@font-face {
  font-family: "VT323";
  src: url(./fonts/VT323-Regular.ttf);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.choice__button {
  font-size: 5rem;
  background: none;
  border: none;
}

.choice__container {
  display: flex;
  flex-direction: column;
  height: 290px;
}

.choice__icon {
  font-size: 5rem;
  padding: 1rem;
}

.score {
  height: 106px;
}

.btn {
  font-size: 2rem;
  font-family: "VT323";
  background: none;
  padding: 0.25rem 0.5rem;
  color: #333;
  border: #333 solid 1px;
}

.start-btn {
  font-family: "VT323";
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: #b89265;
  text-shadow: -1px -1px black, 1px 1px white;
  color: #6a4c3a;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em #9c7354;
  cursor: pointer;
}
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
